#Database URL:-
DATABASE_URL='your_postgreSQL_db_URL'

#port
PORT=8080

#node env
NODE_ENV='development' # development, production

#access_password for register new admin
ACCESS_PASSWORD='your_access_password_here'

#JWT
JWT_ACCESS_SECRET=supersecret_access_key_for_cms_backend
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=supersecret_refresh_key_for_cms_backend
JWT_REFRESH_EXPIRES_IN=14d

#gateway
MID=189
Terminal=getepay.merchant875943vvhm
KEY=nlYA1pX/YzfcfakjahfflkckYY=
IV=getepay.merchant984765@vvpm
URL=https://portal.getepay.in:8443/getepayPortal/pg/v2/generateInvoice

#Cloudflare R2
R2_ACCOUNT_ID="your_R2_Account_id"
R2_ACCESS_KEY_ID="your_Access_key_id"
R2_SECRET_ACCESS_KEY="your_r2_secret_key"
R2_BUCKET_NAME="your_bucket_name"
R2_ENDPOINT="your_R2_Endpoint_link"

#Nodemailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password